{% extends 'base.html' %}
{% block content %}

<h1>Character Details</h1>
<a class="waves-effect waves-light btn-small red lighten-1" href="/characters">Go Back</a><br><br>
<div class="row">
    <div class="col s12 m7">
        <div class="card-medium">
            <div class="card-image">
                {% for character_photo in character.characterphoto_set.all %}
                <img src="{{ character_photo.url }}" alt="character photo">
                {% empty %}
                <div class="card-panel orange-text center-align">No Photo Uploaded</div>
                {% endfor %}
            </div>
            <div class="card-content">
                <h4 class="card-title">{{ character.name }}</h4>
                <p>{{ character.description }}</p>
            </div>
            <div class="card-action">
                <a class="waves-effect waves-light btn-small red lighten-1" href="{% url 'characters_update' character.id %}">Edit</a>
                <a class="waves-effect waves-light btn-small red lighten-1"
                    href="{% url 'characters_delete' character.id %}">Delete</a>
            </div>
            <form action="{% url 'add_character_photo' character.id %}" enctype="multipart/form-data" method="POST"
                class="card-panel">
                {% csrf_token %}
                <input type="file" name="character_photo_file">
                <br><br>
                <button type="submit" class="btn-small red lighten-1">Upload Character Photo</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}