{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Comic Details</h1>
<a class="waves-effect waves-light btn-small" href="/comics">Go Back</a><br><br>
<div class="row">
  <div class="col s12 m7">
    <div class="card-medium">
      <div class="card-image">
        <img src="{{ comic.img_url }}">
      </div>
      <div class="card-content">
        <h4 class="card-title">{{ comic.name }}</h4>
        <h5>Published: {{ comic.published }}</h5>
        <h6>Writer: {{ comic.writer }}</h6>
        <h6>Cover: {{ comic.cover }}</h6>
        <p>{{ comic.description }}</p>
      </div>
      <div class="card-action">
        <a class="waves-effect waves-light btn-small" href="{% url 'comics_update' comic.id %}">Edit</a>
        <a class="waves-effect waves-light btn-small" href="{% url 'comics_delete' comic.id %}">Delete</a>
      </div>
    </div>
  <div class="">
    <form action="{% url 'add_vote' comic.id %}" method="POST">
      {% csrf_token %}
      {{ vote_form.as_p }}
      <input type="submit" class="btn" value="Add Vote">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Voted on</th>
          <th>Comment</th>
          <th>Rated</th>
        </tr>
        <tbody>
          {% for vote in comic.vote_set.all %}
          <tr>
            <td>{{ vote.date }}</td>
            <td>{{ vote.comment }}</td>
            <td>{{ vote.get_rating_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </thead>
    </table>
  </div>
</div>
<script>
  const dateEl = document.getElementById('id_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
  const selectEl = document.getElementById('id_rating');
  M.FormSelect.init(selectEl);
</script>
{% endblock %}