{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Marvel Collector</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <ul class="left hide-on-med-and-down">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'index' %}">All Marvel Comics</a></li>
            <li><a href="{% url 'comics_create' %}">Add a Comic</a></li>
            <li><a href="{% url 'characters_index' %}">All Marvel Characters</a></li>
            <li><a href="{% url 'characters_create' %}">Add a Character</a></li>
          </ul>
          <ul class="right">
            <li>
              <a href="{ url '' }" class="brand-logo center"
                >&nbsp;&nbsp;Marvel Collector</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2023 Marvel Collector &nbsp;
      </div>
    </footer>
  </body>
</html>
